body {
    text-align: center;
    background-color:blue;
}

h1 {
    color:blue;
    text-align: center;
     margin: auto 0;
    display:flex;
}

#card {
    margin: 5em auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.m-field {
    margin: 1em 0;
}

#submitButton{
    border-radius: 10px;
    background-color: #6a9ef2;
    color: white;
}
input:hover {
    border: 1px solid #007bff;
}

input:focus {
    outline: none;
    border: 2px solid #007bff;
}

.row{
    background-color: black;
}
#section1{
     float: left;
    height:500px;
    width: 33%;
    background-color: blue;
}