
.jumbotron {
    text-align: center;
    
}

.well{
    text-align:center;
}

.row  { 
    display:flex; 
    margin-left:5px;
    justify-content:center;
}
        
.col1 { 
    width:250px; 
    
}