body{
    background-color:black;
    color:gray;
}
nav a{
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

main{
    width:50%;
    margin:0 auto; /*centers a section*/
}
nav:hover, #current{
    
    border-bottom:2px orange solid;
    font-size: 1.2em;
    transition: .9s;
}
figure{
    float:left;
}
#me, #welcomeText {
    float:left;
}

footer{
    clear: left;
}
header, main, nav, footer {
    text-align: center;
}
table{
    margin:0px auto;
}
td{
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: orange;
}
#table-header{
    background-color: #351a00;
}
.table-row{
    background-color: #753900;
}
ul{
    text-align: left;
    padding-left: 200px;
}
.hobby {
    color: yellow;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}


footer{
    width:50%;
    margin:0 auto; /*centers a section*/
}
#content{
    width:50%;
    margin:0 auto;
}
#logohome, #buddyhome{
    float:left;
}
#logohome{
    margin:0 auto;
}
#bot{
    margin:0 auto;
}


