body{
    background-color:#d1d1d1;
    color:#d1d1d1;
}
nav a{
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
}
main{
    width:50%;
    margin:0 auto; /*centers a section*/
}
nav:hover, #current{
    
    font-size: 1.2em;
    transition: .9s;
}
#current{
    border-bottom:1px orange solid;
}

footer{
    clear: left;
}
header, main, nav, footer {
    text-align: center;
}
h2{
    text-align:center;
    color:black;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
    color:black;
}
footer{
    width:50%;
    margin:0 auto; /*centers a section*/
}
#content{
    width:50%;
    margin:0 auto;
}
#logohome, #buddyhome{
    float:left;
}
#logohome{
    margin:0 auto;
}
#bot{
    margin:0 auto;
}

main{
    display:flex;
    justify-content:center;
}
div, footer{
        color:black;
        text-decoration: none !important;
    }
#image{
    border-radius:25px;
}
